In [4]:
import pandas as pd

In [20]:
stats = pd.read_csv("P4-Demographic-Data.csv")

In [6]:
# Number of rows
len(stats) #195 rows

195

In [9]:
# See the columns
print(stats.columns)
print(len(stats.columns))

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')
5

In [14]:
# See the top rows, default 5 top rows
stats.head()

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [16]:
# Bottom rows, default 5 bottom rows
stats.tail()

,Country Name,Country Code,Birth rate,Internet users,Income Group
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [17]:
# Information on columns
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
Country Name      195 non-null object
Country Code      195 non-null object
Birth rate        195 non-null float64
Internet users    195 non-null float64
Income Group      195 non-null object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [18]:
# Stats on the columns
stats.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [19]:
stats.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Birth rate,195.0,21.469928,10.605467,7.9,12.1205,19.68,29.7595,49.6610
Internet users,195.0,42.076471,29.030788,0.9,14.5200,41.00,66.2250,96.5468