In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'c:\\software\\python\\python-courses\\Module 5'

In [4]:
data = pd.read_csv("P4-Movie-Ratings.csv")

In [6]:
len(data) #559 rows

559

In [7]:
data.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [8]:
data.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [12]:
# Spaces and % is problematic
data.columns = ["Film", "Genre", "CriticRating", "AudienceRating", "Budget", "Year"]
data.columns

Index(['Film', 'Genre', 'CriticRating', 'AudienceRating', 'Budget', 'Year'], dtype='object')

In [13]:
data.head()

,Film,Genre,CriticRating,AudienceRating,Budget,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [16]:
# Column "year" recoginized as a number. But maybe shouldnt be as we do not intend to do any mathematical operations on it
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null object
Genre             559 non-null object
CriticRating      559 non-null int64
AudienceRating    559 non-null int64
Budget            559 non-null int64
Year              559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [19]:
# Makes sense on all columns but Year, i.e we do not want to treat year as a number, more like a category
data.describe()

       CriticRating  AudienceRating      Budget         Year
count    559.000000      559.000000  559.000000   559.000000
mean      47.309481       58.744186   50.236136  2009.152057
std       26.413091       16.826887   48.731817     1.362632
min        0.000000        0.000000    0.000000  2007.000000
25%       25.000000       47.000000   20.000000  2008.000000
50%       46.000000       58.000000   35.000000  2009.000000
75%       70.000000       72.000000   65.000000  2010.000000
max       97.000000       96.000000  300.000000  2011.000000

In [22]:
data.Film = data.Film.astype("category")

In [23]:
data.head()

,Film,Genre,CriticRating,AudienceRating,Budget,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null object
CriticRating      559 non-null int64
AudienceRating    559 non-null int64
Budget            559 non-null int64
Year              559 non-null int64
dtypes: category(1), int64(4), object(1)
memory usage: 47.4+ KB

In [25]:
data.Genre = data.Genre.astype("category")
data.Year = data.Year.astype("category")

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null category
CriticRating      559 non-null int64
AudienceRating    559 non-null int64
Budget            559 non-null int64
Year              559 non-null category
dtypes: category(3), int64(3)
memory usage: 40.3 KB

In [28]:
# Print out unique values
data.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [29]:
data.describe()

       CriticRating  AudienceRating      Budget
count    559.000000      559.000000  559.000000
mean      47.309481       58.744186   50.236136
std       26.413091       16.826887   48.731817
min        0.000000        0.000000    0.000000
25%       25.000000       47.000000   20.000000
50%       46.000000       58.000000   35.000000
75%       70.000000       72.000000   65.000000
max       97.000000       96.000000  300.000000